

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left
}

.content h1{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 60px;
    padding-right: 12px;
    padding-left: 12px;
    font-family: "Aspire";
    text-align: center;
    line-height: 1.2;
    background: linear-gradient(to top, #FF3636, rgb(190, 38, 0)); /* Apply gradient */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent to show the background */
}

.btnhh:hover {
    background-color: rgb(120, 120, 120, .7);
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Blurred background effect */
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    z-index: 1000;
    /* Ensure it's above other content */
    animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
    width: 420px;
    background: rgb(92 92 92 / 52%);
    color: white;
    border-radius: 30px;
    padding: 30px 40px;
    box-shadow: 0 0 30px 30px rgb(145 145 145 / 41%);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.close-modal {
    display: flex;
    position: relative;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    transition: background 0.3s ease, color 0.3s ease;
    left: 100%;
}

.modal-content h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
}
  

.subscribeBtn {
    width: 100%;
    height: 45px;
    background: #ffffff; /* Changed to blue */
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black; /* Changed to white for better contrast */
    font-weight: 700;
    transition: background 0.3s ease, color 0.3s ease;
    margin-top: 16px;
    box-shadow: 0px 0px 20px 1px #ffffff;
}

.subscribeBtn:hover{
    background-color: rgb(186, 186, 186); /* Darker blue on hover */
}

.highlight {
    color: aquamarine;
    font-size: 2.5rem;
    font-weight: 900;
}

.danger {
  color: red;
  font-size: 2.5rem;
  font-weight: 900;
  text-shadow: 0px 0px 40px rgb(255 27 27);

}

.warn {
  color: yellow;
  font-size: 2.5rem;
  font-weight: 900;
  text-shadow: 0px 0px 40px rgb(255, 251, 27);
  
}

.war {
  box-shadow: 0px 0px 20px 1px rgb(255, 251, 27);
}
.del{
  box-shadow: 0px 0px 20px 1px #ff0000;
}

.dangerModal {
  box-shadow: 0 0 30px 30px rgb(255 0 0 / 41%)
}

.warnModal{
  box-shadow: 0 0 30px 30px rgba(255, 242, 0, 0.41)
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px; 
}

.navBtn {
  padding: 10px 10px;
  margin-top: -6px;
  cursor: pointer;
  font-weight: bold;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .navBtn:hover {
  opacity: 0.8;
} */

.homeBtn {
  width: 170px;
  background-color: transparent;
  border: 2px solid rgb(255 147 51);  
  border-radius: 25px;
}

.homeBtn:hover {
    background-color: rgb(255 147 51);
  }

.dashboardBtn {
  background-color: transparent;
  border: 2px solid rgb(37, 193, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0px 0px 20px 1px #25c1ff;
}
.dashboardBtn:hover{
  background-color: rgb(37, 193, 255); /* Darker blue on hover */
}

.changeMembershipBtn {
  width: 250px;
  background-color: transparent;
  border: 2px solid rgb(0, 165, 38);  border-radius: 25px;
}

.changeMembershipBtn:hover {
  background-color: rgb(0, 165, 38);
}

.btnIcon {
  margin-right: 5px;
}


.delMembershipBtn {
  width: 210px;
  background-color: transparent;
  border: 2px solid rgb(255, 0, 0);  border-radius: 25px;
}

.delMembershipBtn:hover {
  background-color: rgb(255, 0, 0);
}

.pauseMembershipBtn {
  width: 210px;
  background-color: transparent;
  border: 2px solid rgb(227, 208, 0);  border-radius: 25px;
}

.pauseMembershipBtn:hover {
  background-color: rgb(227, 208, 0);
}